.form__error {
  position: absolute;
  bottom: -26px;
  left: 0;
  display: inline-block;
  padding-left: 7px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: #e11;
}
