.input {
  display: block;
  width: 100%;
  padding: 0 10px;

  outline: none;

  font-size: 14px;
  font-weight: 500;

  color: $c-granit;
  caret-color: $c-granit;

  background-color: transparent;

  @include transitions((border-color, color));

  &::placeholder {
    font-size: 12px;
    font-weight: 400;
  }

  &:focus {
    border-color: $c-granit;
  }

  &--one-line {
    border: none;
    border-bottom: 1px solid $c-lightgrey;

    &[type="text"] {
      text-transform: uppercase;
    }
  }

  &--outline {
    border: 1px solid $c-lightgrey;
  }

  &--valid {
    border-color: $c-green;
  }

  &--error {
    border-color: $c-red-d;
  }

  &--textarea {
    resize: vertical;

    min-height: 35px;
    max-height: 200px;
  }
}
