.form {
  width: 100%;

  &__label {
    color: #363636;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.125;
  }

  &__input {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid #cecece;
    color: #4a4a4a;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 5px;
  }

  &__input-red {
    border: 1px solid red;
  }

  &__button {
    width: 200px;
    height: 40px;
    background-color: #fff;
    outline: none;
    cursor: pointer;
    margin: 0 auto;
    color: #363636;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.125;
    border-radius: 5px;
    border: 1px solid #cecece;
    margin-top: 20px;
    transition: background-color 300ms linear,
                font-weight 300ms linear;

    &:hover {
      background-color: #dca91c;
      font-weight: 800;
    }
  }

  &__fill {
    color: red;
    display: block;
    margin-top: -10px;
    font-size: 11px;
  }

  &__filled{
    opacity: 0;
  }

  &__error-Url {
    color: red;
    display: block;
    margin-top: -10px;
    font-size: 11px;
  }

  &__right-Url{
    color: red;
    display: block;
    margin-top: -10px;
    opacity: 0;
    font-size: 11px;
  }
}
