.form {
  display: flex;
  flex-direction: column;

  &__field {
    
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;

  }

  &__submit {
    display: block;
    padding: 10px;
    border-radius: 5px;
    color: rgb(5, 159, 219);
    background-color: #595680;
  }
}