.new-movie {
  text-align: center;

  &__input {
    width: 100%;
    padding: 5px 10px;
    margin: 0 0 20px;
    border: 1px solid rgb(201, 201, 201);

    &:focus {
      outline: 1px solid rgb(104, 104, 104);
    }
  }

  &__caption {
    float: left;
    margin-bottom: 10px;
  }

  &__textarea {
    resize: none;
    padding: 5px 10px;
  }

  &__button {
    padding: 7px 30px;
    width: 100px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: rgb(201, 201, 201);
      color: #fff;
    }
  }

}
