.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid black;

  &__title {
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: default;
  }

  &__input {
    width: 300px;
    height: 50px;
  }

  &__textarea {
    min-width: 300px;
    max-width: 300px;
    min-height: 50px;
    max-height: 200px;
  }

  &__button {
    margin-bottom: 20px;
    width: 300px;
    height: 75px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: lightgreen;
    cursor: pointer;
  }
}
