$error-color: red;

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__input-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__input {
    padding: 5px 10px;
    border: 1px solid grey;

    &_textarea {
      min-height: 4em;
      resize: vertical;
    }

    &_invalid {
      border-color: $error-color;

      &::placeholder {
        color: $error-color;
      }
    }
  }

  &__error {
    color: $error-color;
  }

  &__button {
    padding: 10px 20px;
  }
}
