.form {
  display: flex;
  flex-direction: column;

  &__item {
    margin-top: 20px;
  }

  &__input {
    display: block;
    width: 100%;
    height: 30px;
    border: 1px solid gray;
    border-radius: 4px;
  }

  &__input-error {
    @extend .form__input;
    display: block;
    border-color: red;
  }

  &__button {
    margin-top: 20px;
  }

  &__button:hover {
    margin-top: 20px;
    cursor: pointer;
  }
}

.error {
  color: red;
}
