@import "../../styles/variables/colors";
@import "../../styles/variables/spacing";

.card {
  padding-top: $card-padding;
  padding-bottom: $card-padding;

  border-radius: 20px;
  background-color: $card-bg-color;
}

.card-image {
  margin-bottom: $card-padding;
}

.card-image img {
  object-fit: contain;
}

.title,
.content {
  color: #fff;
}

.description {
  padding-bottom: 16px;
}

.link {
  font-size: 24px;

  color: #fff;
}
