.card {
  padding-top: 30px;
  padding-bottom: 30px;

  border-radius: 20px;
  background-color: dimgrey;
}

.card-image {
  margin-bottom: 30px;
}

.card-image img {
  object-fit: contain;
}

.title,
.content {
  color: #fff;
}

.link {
  font-size: 24px;

  color: #fff;
}
