.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.red {
  outline-color: red;
  border: 1px solid red;
  border-radius: 3px;
  color: red;
}

span {
  color: red;
}

label {
  display: flex;
  justify-content: space-between;
}
