.label {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 28px;
}

.input {
  width: 100%;
}

.input--error {
  border: 1px solid red;
}

.error__message {
  position: absolute;
  top: 85px;

  color: red;
  font-size: 18px;
}
