.page {
  display: grid;
  grid-template: auto / 1fr 400px;
  column-gap: 20px;
  min-height: 100vh;
}

.page-content {
  padding: 20px;
}

.sidebar {
  padding: 20px;
  border-left: 1px solid lightgray;

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
