.page {
  display: grid;
  grid-template: auto / 1fr 400px;
  column-gap: 20px;
  min-height: 100vh;
}

.page-content {
  padding: 20px;
}

.sidebar {
  padding: 20px;
  border-left: 1px solid lightgray;
}

.add-movie-label {
  font-weight: 600;
}

.add-movie-input {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}
