.page {
  display: grid;
  grid-template: auto / 1fr 400px;
  column-gap: 20px;
  min-height: 100vh;
}

.page-content {
  padding: 20px;
}

.sidebar {
  padding: 20px;
  border-left: 1px solid lightgray;
}

.is-error {
  position: absolute;
  right: 70px;
  top: 280px;
  text-align: center;
  background-color: #fff5d8;
  padding: 8px 20px;
  border-radius: 8px;
}
