.page {
  display: grid;
  grid-template: auto / 1fr 400px;
  column-gap: 20px;
  min-height: 100vh;
}

.page-content {
  padding: 20px;
}

.sidebar {
  padding: 20px;
  border-left: 1px solid lightgray;
}

.input {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 30px;
}

.errors {
  color: red;
  font-size: 14px;
  font-weight: bold;
  font-style: oblique;
  width: 100%;
}

input {
  outline: none;
  width: 100%;
  height: 50px;
  border: 1px solid lightgray;
  margin-bottom: 15px;
  padding: 10px;
  &:focus {
    border: 2px solid rgb(167, 142, 142);
  }
}

::placeholder {
  font-size: 16px;
}

.no-verified {
  border-color: red;
}

.accepted {
  border-color: green;
}

.before-verification {
  border: 1px solid lightgray;
}
