.page {
  display: grid;
  grid-template: auto / 1fr 400px;
  column-gap: 20px;
  min-height: 100vh;
}

.page-content {
  padding: 20px;
}

.sidebar {
  padding: 20px;
  border-left: 1px solid lightgray;
}

input {
  width: 100%;
  margin: 20px 0 0;
}

button {
  display: block;
  margin: 20px auto;
}

.danger-title {
  color: red;
}
