.page {
  display: grid;
  grid-template: auto / 1fr 400px;
  column-gap: 20px;
  min-height: 100vh;
}

.page-content {
  padding: 20px;
}

.sidebar {
  padding: 20px;
  border-left: 1px solid lightgray;
}

.title {
  font-size: 30px;
}

.w-100 {
  width: 100%;
}

.textarea {
  resize: none;
}

.label {
  &__error {
    color: red;
    font-size: 12px;
  }
}

.input {
  &--error {
    border-color: red;
  }
}

.error {
  color: red;
  font-size: 12px;
}
